# 예제2번 연습하기

In [1]:
#그래프 한글띄우기
import pandas as pd
import matplotlib.pyplot as plt
import platform
if platform.system() == 'Darwin': 
        plt.rc('font', family='AppleGothic') 
elif platform.system() == 'Windows': 
        plt.rc('font', family='Malgun Gothic') 
elif platform.system() == 'Linux': 
        plt.rc('font', family='Malgun Gothic') 
plt.rcParams['axes.unicode_minus'] = False

In [4]:
y_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/y_train.csv')
x_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/X_train.csv',encoding='euc-kr')
test  = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/X_test.csv',encoding='euc-kr')

In [113]:
y_train

2436    1
3366    0
179     1
1987    1
367     1
       ..
786     0
752     0
1861    0
271     0
871     0
Name: gender, Length: 2450, dtype: int64

In [5]:
df_train= pd.merge(x_train,y_train)
df_train.head()

,cust_id,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기,gender
0,0,68282840,11264000,6860000.0,기타,강남점,19,3.894737,0.527027,17,0
1,1,2136000,2136000,300000.0,스포츠,잠실점,2,1.500000,0.000000,1,0
2,2,3197000,1639000,NaN,남성 캐주얼,관악점,2,2.000000,0.000000,1,1
3,3,16077620,4935000,NaN,기타,광주점,18,2.444444,0.318182,16,1
4,4,29050000,24000000,NaN,보석,본 점,2,1.500000,0.000000,85,0

In [11]:
df_train.info(0)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3500 entries, 0 to 3499
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  3500 non-null   int64
 1   총구매액     3500 non-null   int64
 2   최대구매액    3500 non-null   int64
 3   환불금액     1205 non-null   float64
 4   주구매상품    3500 non-null   object
 5   주구매지점    3500 non-null   object
 6   내점일수     3500 non-null   int64
 7   내점당구매건수  3500 non-null   float64
 8   주말방문비율   3500 non-null   float64
 9   구매주기     3500 non-null   int64
 10  gender   3500 non-null   int64
dtypes: float64(3), int64(6), object(2)
memory usage: 328.1+ KB

# 결측치 파악하기

In [10]:
df_train_Nan=df_train.isnull().sum()
df_train_Nan

cust_id       0
총구매액          0
최대구매액         0
환불금액       2295
주구매상품         0
주구매지점         0
내점일수          0
내점당구매건수       0
주말방문비율        0
구매주기          0
gender        0
dtype: int64

In [71]:
df_train=df_train.fillna(0)

In [72]:
df_train

,cust_id,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기,gender
0,0,68282840,11264000,6860000.0,기타,강남점,19,3.894737,0.527027,17,0
1,1,2136000,2136000,300000.0,스포츠,잠실점,2,1.500000,0.000000,1,0
2,2,3197000,1639000,0.0,남성 캐주얼,관악점,2,2.000000,0.000000,1,1
3,3,16077620,4935000,0.0,기타,광주점,18,2.444444,0.318182,16,1
4,4,29050000,24000000,0.0,보석,본 점,2,1.500000,0.000000,85,0
...,...,...,...,...,...,...,...,...,...,...,...
3495,3495,3175200,3042900,0.0,골프,본 점,1,2.000000,1.000000,0,1
3496,3496,29628600,7200000,6049600.0,시티웨어,부산본점,8,1.625000,0.461538,40,1
3497,3497,75000,75000,0.0,주방용품,창원점,1,1.000000,0.000000,0,0
3498,3498,1875000,1000000,0.0,화장품,본 점,2,1.000000,0.000000,39,0
3499,3499,263101550,34632000,5973000.0,기타,본 점,38,2.421053,0.467391,8,0

In [77]:
test.isnull().sum()

cust_id       0
총구매액          0
최대구매액         0
환불금액       1611
주구매상품         0
주구매지점         0
내점일수          0
내점당구매건수       0
주말방문비율        0
구매주기          0
dtype: int64

In [78]:
test['환불금액']=test['환불금액'].fillna(0)
test

,cust_id,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,3500,70900400,22000000,4050000.0,골프,부산본점,13,1.461538,0.789474,26
1,3501,310533100,38558000,48034700.0,농산물,잠실점,90,2.433333,0.369863,3
2,3502,305264140,14825000,30521000.0,가공식품,본 점,101,14.623762,0.083277,3
3,3503,7594080,5225000,0.0,주방용품,부산본점,5,2.000000,0.000000,47
4,3504,1795790,1411200,0.0,수산품,청량리점,3,2.666667,0.125000,8
...,...,...,...,...,...,...,...,...,...,...
2477,5977,82581500,23976000,0.0,골프,부산본점,8,1.750000,0.642857,40
2478,5978,480000,480000,0.0,섬유잡화,광주점,1,1.000000,0.000000,0
2479,5979,260003790,25750000,0.0,남성 캐주얼,본 점,19,3.736842,0.915493,18
2480,5980,88991520,18120000,0.0,육류,본 점,5,3.600000,0.444444,60
2481,5981,623700,209000,0.0,가공식품,영등포점,2,5.000000,0.000000,31

# 남녀별 특성 파악하기

In [6]:
df_train_men=df_train[df_train['gender']==1]

In [7]:
df_train_men.describe()

,cust_id,총구매액,최대구매액,환불금액,내점일수,내점당구매건수,주말방문비율,구매주기,gender
count,1316.000000,1.316000e+03,1.316000e+03,2.900000e+02,1316.000000,1316.000000,1316.000000,1316.000000,1316.0
mean,1746.905015,6.029865e+07,1.495320e+07,1.750266e+07,13.828267,2.726785,0.334714,22.279635,1.0
std,1021.826218,1.210862e+08,2.761925e+07,3.236366e+07,24.953267,1.978583,0.329191,26.649722,0.0
min,2.000000,5.000000e+03,5.000000e+03,5.600000e+03,1.000000,1.000000,0.000000,0.000000,1.0
25%,865.750000,2.352638e+06,1.614278e+06,1.741500e+06,1.000000,1.500000,0.000000,0.000000,1.0
50%,1740.500000,1.288002e+07,6.164500e+06,5.403100e+06,4.000000,2.166667,0.268475,14.000000,1.0
75%,2652.250000,6.090238e+07,1.700000e+07,1.737338e+07,15.000000,3.253289,0.501645,32.250000,1.0
max,3496.000000,9.981312e+08,3.910000e+08,2.107714e+08,285.000000,22.083333,1.000000,162.000000,1.0

In [53]:
df_train_men.groupby('주구매상품')['총구매액'].mean().sort_values(ascending=False).head(5)

주구매상품
남성 트랜디    4.942469e+08
디자이너      1.603838e+08
보석        1.475240e+08
명품        1.394350e+08
아동        1.392574e+08
Name: 총구매액, dtype: float64

In [54]:
df_train_women.groupby('주구매상품')['총구매액'].mean().sort_values(ascending=False).head(5)

주구매상품
명품       2.490443e+08
디자이너     2.374061e+08
아동       1.780496e+08
트래디셔널    1.773364e+08
골프       1.657728e+08
Name: 총구매액, dtype: float64

In [55]:
df_train_men.groupby('주구매지점')['총구매액'].mean().sort_values(ascending=False).head(5)

주구매지점
대전점    1.512328e+08
포항점    9.402798e+07
일산점    9.146145e+07
인천점    8.706806e+07
부평점    8.260694e+07
Name: 총구매액, dtype: float64

In [59]:
df_train_women.groupby('주구매지점')['총구매액'].mean().sort_values(ascending=False).head(5)

주구매지점
상인점    4.539539e+08
광주점    2.082524e+08
대구점    2.056448e+08
인천점    1.542920e+08
대전점    1.537994e+08
Name: 총구매액, dtype: float64

In [8]:
df_train_women=df_train[df_train['gender']==0]
df_train_women.describe()

,cust_id,총구매액,최대구매액,환불금액,내점일수,내점당구매건수,주말방문비율,구매주기,gender
count,2184.000000,2.184000e+03,2.184000e+03,9.150000e+02,2184.000000,2184.000000,2184.000000,2184.000000,2184.0
mean,1751.063645,1.109727e+08,2.250294e+07,2.616227e+07,22.522894,2.900148,0.290695,20.162088,0.0
std,1003.857145,1.818047e+08,3.405248e+07,5.117071e+07,27.931013,1.868776,0.261841,23.499619,0.0
min,0.000000,-5.242152e+07,-2.992000e+06,1.800000e+04,1.000000,1.000000,0.000000,0.000000,0.0
25%,877.500000,7.992742e+06,4.279200e+06,2.542500e+06,3.000000,1.800000,0.074370,5.000000,0.0
50%,1754.500000,4.131110e+07,1.176000e+07,8.152000e+06,12.000000,2.428571,0.250000,13.000000,0.0
75%,2605.500000,1.423878e+08,2.676250e+07,2.737545e+07,31.000000,3.500000,0.415841,27.000000,0.0
max,3499.000000,2.323180e+09,7.066290e+08,5.637530e+08,211.000000,20.000000,1.000000,166.000000,0.0

# 범주형 변수 살펴보기

In [37]:
main_index=df_train['주구매상품'].value_counts()
main_index.index.tolist()
print(len(main_index.index.tolist()))

42

In [38]:
main_center=df_train['주구매지점'].value_counts()

In [42]:
main_center

본  점     1077
잠실점       474
분당점       436
부산본점      245
영등포점      241
일산점       198
강남점       145
광주점       114
노원점        90
청량리점       86
대전점        70
미아점        69
부평점        57
동래점        49
관악점        46
인천점        34
안양점        29
포항점        11
대구점         7
센텀시티점       6
울산점         6
전주점         5
창원점         4
상인점         1
Name: 주구매지점, dtype: int64

In [41]:
main_index=main_center.index.tolist()
print(len(main_index))

24

In [43]:
df=df_train.copy()

In [44]:
import numpy as np

In [46]:
numeric_variable=df.select_dtypes(include=np.number)

In [49]:
numeric_variable

,cust_id,총구매액,최대구매액,환불금액,내점일수,내점당구매건수,주말방문비율,구매주기,gender
0,0,68282840,11264000,6860000.0,19,3.894737,0.527027,17,0
1,1,2136000,2136000,300000.0,2,1.500000,0.000000,1,0
2,2,3197000,1639000,NaN,2,2.000000,0.000000,1,1
3,3,16077620,4935000,NaN,18,2.444444,0.318182,16,1
4,4,29050000,24000000,NaN,2,1.500000,0.000000,85,0
...,...,...,...,...,...,...,...,...,...
3495,3495,3175200,3042900,NaN,1,2.000000,1.000000,0,1
3496,3496,29628600,7200000,6049600.0,8,1.625000,0.461538,40,1
3497,3497,75000,75000,NaN,1,1.000000,0.000000,0,0
3498,3498,1875000,1000000,NaN,2,1.000000,0.000000,39,0
3499,3499,263101550,34632000,5973000.0,38,2.421053,0.467391,8,0

In [48]:
numeric_variable.columns[2:]

Index(['최대구매액', '환불금액', '내점일수', '내점당구매건수', '주말방문비율', '구매주기', 'gender'], dtype='object')

In [51]:
for v in numeric_variable.columns[2:]:
    df
    print(v)

최대구매액
환불금액
내점일수
내점당구매건수
주말방문비율
구매주기
gender

# 주구매지점별 데이터 재구성

In [60]:
df.groupby("주구매지점").agg(['mean','count'])['총구매액'].sort_values('count',ascending=False).head(10)

               mean  count
주구매지점
본  점   1.023784e+08   1077
잠실점    8.377841e+07    474
분당점    7.318428e+07    436
부산본점   8.207560e+07    245
영등포점   7.298017e+07    241
일산점    1.082032e+08    198
강남점    7.000790e+07    145
광주점    1.537850e+08    114
노원점    7.734104e+07     90
청량리점   6.346914e+07     86

In [63]:
pv_t=df.groupby(["주구매지점","주구매상품"]).count()['cust_id'].reset_index().rename(columns={'cust_id':'counts'})
pv_t.head(10)

  주구매지점   주구매상품  counts
0   강남점    가공식품      22
1   강남점    건강식품       2
2   강남점      구두       1
3   강남점      기타      31
4   강남점  남성 캐주얼       1
5   강남점     농산물      17
6   강남점    디자이너      11
7   강남점      명품       1
8   강남점   모피/피혁       3
9   강남점    생활잡화       1

In [67]:
pivot_df=pv_t.pivot(index="주구매지점",columns="주구매상품",values='counts').fillna(0)
pivot_df

주구매상품,가공식품,가구,건강식품,골프,구두,기타,남성 캐주얼,남성 트랜디,남성정장,농산물,...,주방용품,차/커피,축산가공,침구/수예,캐주얼,커리어,통신/컴퓨터,트래디셔널,피혁잡화,화장품
주구매지점,,,,,,,,,,,,,,,,,,,,,
강남점,22.0,0.0,2.0,0.0,1.0,31.0,1.0,0.0,0.0,17.0,...,0.0,1.0,2.0,0.0,2.0,0.0,0.0,1.0,1.0,9.0
관악점,3.0,0.0,0.0,0.0,2.0,12.0,3.0,0.0,0.0,10.0,...,1.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,3.0
광주점,5.0,0.0,1.0,3.0,2.0,31.0,0.0,0.0,0.0,11.0,...,1.0,0.0,2.0,0.0,6.0,0.0,0.0,0.0,0.0,5.0
노원점,19.0,1.0,1.0,0.0,3.0,25.0,0.0,0.0,1.0,12.0,...,1.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,3.0
대구점,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
대전점,14.0,0.0,0.0,6.0,2.0,11.0,0.0,0.0,1.0,4.0,...,1.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0,1.0,6.0
동래점,6.0,0.0,0.0,1.0,2.0,4.0,1.0,0.0,0.0,6.0,...,0.0,0.0,0.0,0.0,5.0,1.0,0.0,0.0,1.0,2.0
미아점,6.0,1.0,0.0,0.0,2.0,25.0,0.0,0.0,0.0,8.0,...,1.0,1.0,1.0,0.0,2.0,1.0,0.0,0.0,0.0,1.0
본 점,210.0,3.0,19.0,30.0,13.0,140.0,17.0,1.0,6.0,78.0,...,17.0,23.0,5.0,3.0,21.0,3.0,0.0,8.0,15.0,94.0
부산본점,28.0,0.0,5.0,12.0,6.0,18.0,5.0,0.0,0.0,24.0,...,1.0,0.0,4.0,0.0,8.0,0.0,0.0,0.0,4.0,35.0
부평점,11.0,0.0,0.0,1.0,0.0,14.0,1.0,0.0,1.0,10.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
분당점,47.0,2.0,4.0,5.0,2.0,109.0,9.0,1.0,2.0,80.0,...,1.0,2.0,10.0,1.0,5.0,0.0,0.0,0.0,2.0,30.0
상인점,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
센텀시티점,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
안양점,4.0,0.0,1.0,1.0,0.0,6.0,2.0,0.0,0.0,3.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0
영등포점,19.0,1.0,4.0,6.0,5.0,22.0,9.0,0.0,3.0,13.0,...,1.0,4.0,3.0,0.0,11.0,0.0,1.0,1.0,5.0,14.0
울산점,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
인천점,6.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,1.0,4.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
일산점,34.0,0.0,0.0,2.0,0.0,48.0,1.0,0.0,1.0,13.0,...,2.0,7.0,5.0,0.0,9.0,1.0,0.0,4.0,2.0,11.0
잠실점,92.0,2.0,6.0,13.0,12.0,73.0,3.0,0.0,3.0,29.0,...,4.0,4.0,0.0,0.0,18.0,3.0,1.0,7.0,5.0,42.0
전주점,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
창원점,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
청량리점,12.0,0.0,4.0,1.0,2.0,14.0,2.0,0.0,2.0,13.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,2.0,3.0
포항점,2.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

# 데이터정규화/one hot encoding

In [96]:
from sklearn.model_selection import train_test_split

In [97]:
x=df_train.drop(["cust_id","gender",],axis=1)
y=df_train.gender

In [98]:
x_dum=pd.get_dummies(x)
x_dum.shape

(3500, 73)

In [99]:
feature_list=x_dum.columns
feature_list

Index(['총구매액', '최대구매액', '환불금액', '내점일수', '내점당구매건수', '주말방문비율', '구매주기',
       '주구매상품_가공식품', '주구매상품_가구', '주구매상품_건강식품', '주구매상품_골프', '주구매상품_구두',
       '주구매상품_기타', '주구매상품_남성 캐주얼', '주구매상품_남성 트랜디', '주구매상품_남성정장', '주구매상품_농산물',
       '주구매상품_대형가전', '주구매상품_디자이너', '주구매상품_란제리/내의', '주구매상품_명품', '주구매상품_모피/피혁',
       '주구매상품_보석', '주구매상품_생활잡화', '주구매상품_섬유잡화', '주구매상품_셔츠', '주구매상품_소형가전',
       '주구매상품_수산품', '주구매상품_스포츠', '주구매상품_시티웨어', '주구매상품_식기', '주구매상품_아동',
       '주구매상품_악기', '주구매상품_액세서리', '주구매상품_육류', '주구매상품_일용잡화', '주구매상품_젓갈/반찬',
       '주구매상품_주류', '주구매상품_주방가전', '주구매상품_주방용품', '주구매상품_차/커피', '주구매상품_축산가공',
       '주구매상품_침구/수예', '주구매상품_캐주얼', '주구매상품_커리어', '주구매상품_통신/컴퓨터', '주구매상품_트래디셔널',
       '주구매상품_피혁잡화', '주구매상품_화장품', '주구매지점_강남점', '주구매지점_관악점', '주구매지점_광주점',
       '주구매지점_노원점', '주구매지점_대구점', '주구매지점_대전점', '주구매지점_동래점', '주구매지점_미아점',
       '주구매지점_본  점', '주구매지점_부산본점', '주구매지점_부평점', '주구매지점_분당점', '주구매지점_상인점',
       '주구매지점_센텀시티점', '주구매지점_안양점', '주구매지점_영등포점', '주구매지점_울산점', '주구매지점_인천점',
       '주구매지점_일산점', '주구매지점_잠실점', '주구매지점_전주점', '주구매지점_창원점', '주구매지점_청량리점',
       '주구매지점_포항점'],
      dtype='object')

In [100]:
test_dum=pd.get_dummies(test)
test_dum

,cust_id,총구매액,최대구매액,환불금액,내점일수,내점당구매건수,주말방문비율,구매주기,주구매상품_가공식품,주구매상품_가구,...,주구매지점_안양점,주구매지점_영등포점,주구매지점_울산점,주구매지점_인천점,주구매지점_일산점,주구매지점_잠실점,주구매지점_전주점,주구매지점_창원점,주구매지점_청량리점,주구매지점_포항점
0,3500,70900400,22000000,4050000.0,13,1.461538,0.789474,26,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3501,310533100,38558000,48034700.0,90,2.433333,0.369863,3,0,0,...,0,0,0,0,0,1,0,0,0,0
2,3502,305264140,14825000,30521000.0,101,14.623762,0.083277,3,1,0,...,0,0,0,0,0,0,0,0,0,0
3,3503,7594080,5225000,0.0,5,2.000000,0.000000,47,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3504,1795790,1411200,0.0,3,2.666667,0.125000,8,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2477,5977,82581500,23976000,0.0,8,1.750000,0.642857,40,0,0,...,0,0,0,0,0,0,0,0,0,0
2478,5978,480000,480000,0.0,1,1.000000,0.000000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2479,5979,260003790,25750000,0.0,19,3.736842,0.915493,18,0,0,...,0,0,0,0,0,0,0,0,0,0
2480,5980,88991520,18120000,0.0,5,3.600000,0.444444,60,0,0,...,0,0,0,0,0,0,0,0,0,0
2481,5981,623700,209000,0.0,2,5.000000,0.000000,31,1,0,...,0,1,0,0,0,0,0,0,0,0

In [101]:
missing_cols=set(x_dum.columns)-set(test_dum.columns)
missing_cols

{'주구매상품_소형가전'}

In [102]:
for c in missing_cols:
    test_dum[c]=0
test_dum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2482 entries, 0 to 2481
Data columns (total 74 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cust_id       2482 non-null   int64
 1   총구매액          2482 non-null   int64
 2   최대구매액         2482 non-null   int64
 3   환불금액          2482 non-null   float64
 4   내점일수          2482 non-null   int64
 5   내점당구매건수       2482 non-null   float64
 6   주말방문비율        2482 non-null   float64
 7   구매주기          2482 non-null   int64
 8   주구매상품_가공식품    2482 non-null   uint8
 9   주구매상품_가구      2482 non-null   uint8
 10  주구매상품_건강식품    2482 non-null   uint8
 11  주구매상품_골프      2482 non-null   uint8
 12  주구매상품_구두      2482 non-null   uint8
 13  주구매상품_기타      2482 non-null   uint8
 14  주구매상품_남성 캐주얼  2482 non-null   uint8
 15  주구매상품_남성 트랜디  2482 non-null   uint8
 16  주구매상품_남성정장    2482 non-null   uint8
 17  주구매상품_농산물     2482 non-null   uint8
 18  주구매상품_대형가전    2482 non-null   uint8
 19  주구매상품_디자이너    2482 non-null   uint8
 20  주구매상품_란제리/내의  2482 non-null   uint8
 21  주구매상품_명품      2482 non-null   uint8
 22  주구매상품_모피/피혁   2482 non-null   uint8
 23  주구매상품_보석      2482 non-null   uint8
 24  주구매상품_생활잡화    2482 non-null   uint8
 25  주구매상품_섬유잡화    2482 non-null   uint8
 26  주구매상품_셔츠      2482 non-null   uint8
 27  주구매상품_수산품     2482 non-null   uint8
 28  주구매상품_스포츠     2482 non-null   uint8
 29  주구매상품_시티웨어    2482 non-null   uint8
 30  주구매상품_식기      2482 non-null   uint8
 31  주구매상품_아동      2482 non-null   uint8
 32  주구매상품_악기      2482 non-null   uint8
 33  주구매상품_액세서리    2482 non-null   uint8
 34  주구매상품_육류      2482 non-null   uint8
 35  주구매상품_일용잡화    2482 non-null   uint8
 36  주구매상품_젓갈/반찬   2482 non-null   uint8
 37  주구매상품_주류      2482 non-null   uint8
 38  주구매상품_주방가전    2482 non-null   uint8
 39  주구매상품_주방용품    2482 non-null   uint8
 40  주구매상품_차/커피    2482 non-null   uint8
 41  주구매상품_축산가공    2482 non-null   uint8
 42  주구매상품_침구/수예   2482 non-null   uint8
 43  주구매상품_캐주얼     2482 non-null   uint8
 44  주구매상품_커리어     2482 non-null   uint8
 45  주구매상품_통신/컴퓨터  2482 non-null   uint8
 46  주구매상품_트래디셔널   2482 non-null   uint8
 47  주구매상품_피혁잡화    2482 non-null   uint8
 48  주구매상품_화장품     2482 non-null   uint8
 49  주구매지점_강남점     2482 non-null   uint8
 50  주구매지점_관악점     2482 non-null   uint8
 51  주구매지점_광주점     2482 non-null   uint8
 52  주구매지점_노원점     2482 non-null   uint8
 53  주구매지점_대구점     2482 non-null   uint8
 54  주구매지점_대전점     2482 non-null   uint8
 55  주구매지점_동래점     2482 non-null   uint8
 56  주구매지점_미아점     2482 non-null   uint8
 57  주구매지점_본  점    2482 non-null   uint8
 58  주구매지점_부산본점    2482 non-null   uint8
 59  주구매지점_부평점     2482 non-null   uint8
 60  주구매지점_분당점     2482 non-null   uint8
 61  주구매지점_상인점     2482 non-null   uint8
 62  주구매지점_센텀시티점   2482 non-null   uint8
 63  주구매지점_안양점     2482 non-null   uint8
 64  주구매지점_영등포점    2482 non-null   uint8
 65  주구매지점_울산점     2482 non-null   uint8
 66  주구매지점_인천점     2482 non-null   uint8
 67  주구매지점_일산점     2482 non-null   uint8
 68  주구매지점_잠실점     2482 non-null   uint8
 69  주구매지점_전주점     2482 non-null   uint8
 70  주구매지점_창원점     2482 non-null   uint8
 71  주구매지점_청량리점    2482 non-null   uint8
 72  주구매지점_포항점     2482 non-null   uint8
 73  주구매상품_소형가전    2482 non-null   int64
dtypes: float64(3), int64(6), uint8(65)
memory usage: 332.2 KB

In [103]:
x_dum.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3500 entries, 0 to 3499
Data columns (total 73 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   총구매액          3500 non-null   int64
 1   최대구매액         3500 non-null   int64
 2   환불금액          3500 non-null   float64
 3   내점일수          3500 non-null   int64
 4   내점당구매건수       3500 non-null   float64
 5   주말방문비율        3500 non-null   float64
 6   구매주기          3500 non-null   int64
 7   주구매상품_가공식품    3500 non-null   uint8
 8   주구매상품_가구      3500 non-null   uint8
 9   주구매상품_건강식품    3500 non-null   uint8
 10  주구매상품_골프      3500 non-null   uint8
 11  주구매상품_구두      3500 non-null   uint8
 12  주구매상품_기타      3500 non-null   uint8
 13  주구매상품_남성 캐주얼  3500 non-null   uint8
 14  주구매상품_남성 트랜디  3500 non-null   uint8
 15  주구매상품_남성정장    3500 non-null   uint8
 16  주구매상품_농산물     3500 non-null   uint8
 17  주구매상품_대형가전    3500 non-null   uint8
 18  주구매상품_디자이너    3500 non-null   uint8
 19  주구매상품_란제리/내의  3500 non-null   uint8
 20  주구매상품_명품      3500 non-null   uint8
 21  주구매상품_모피/피혁   3500 non-null   uint8
 22  주구매상품_보석      3500 non-null   uint8
 23  주구매상품_생활잡화    3500 non-null   uint8
 24  주구매상품_섬유잡화    3500 non-null   uint8
 25  주구매상품_셔츠      3500 non-null   uint8
 26  주구매상품_소형가전    3500 non-null   uint8
 27  주구매상품_수산품     3500 non-null   uint8
 28  주구매상품_스포츠     3500 non-null   uint8
 29  주구매상품_시티웨어    3500 non-null   uint8
 30  주구매상품_식기      3500 non-null   uint8
 31  주구매상품_아동      3500 non-null   uint8
 32  주구매상품_악기      3500 non-null   uint8
 33  주구매상품_액세서리    3500 non-null   uint8
 34  주구매상품_육류      3500 non-null   uint8
 35  주구매상품_일용잡화    3500 non-null   uint8
 36  주구매상품_젓갈/반찬   3500 non-null   uint8
 37  주구매상품_주류      3500 non-null   uint8
 38  주구매상품_주방가전    3500 non-null   uint8
 39  주구매상품_주방용품    3500 non-null   uint8
 40  주구매상품_차/커피    3500 non-null   uint8
 41  주구매상품_축산가공    3500 non-null   uint8
 42  주구매상품_침구/수예   3500 non-null   uint8
 43  주구매상품_캐주얼     3500 non-null   uint8
 44  주구매상품_커리어     3500 non-null   uint8
 45  주구매상품_통신/컴퓨터  3500 non-null   uint8
 46  주구매상품_트래디셔널   3500 non-null   uint8
 47  주구매상품_피혁잡화    3500 non-null   uint8
 48  주구매상품_화장품     3500 non-null   uint8
 49  주구매지점_강남점     3500 non-null   uint8
 50  주구매지점_관악점     3500 non-null   uint8
 51  주구매지점_광주점     3500 non-null   uint8
 52  주구매지점_노원점     3500 non-null   uint8
 53  주구매지점_대구점     3500 non-null   uint8
 54  주구매지점_대전점     3500 non-null   uint8
 55  주구매지점_동래점     3500 non-null   uint8
 56  주구매지점_미아점     3500 non-null   uint8
 57  주구매지점_본  점    3500 non-null   uint8
 58  주구매지점_부산본점    3500 non-null   uint8
 59  주구매지점_부평점     3500 non-null   uint8
 60  주구매지점_분당점     3500 non-null   uint8
 61  주구매지점_상인점     3500 non-null   uint8
 62  주구매지점_센텀시티점   3500 non-null   uint8
 63  주구매지점_안양점     3500 non-null   uint8
 64  주구매지점_영등포점    3500 non-null   uint8
 65  주구매지점_울산점     3500 non-null   uint8
 66  주구매지점_인천점     3500 non-null   uint8
 67  주구매지점_일산점     3500 non-null   uint8
 68  주구매지점_잠실점     3500 non-null   uint8
 69  주구매지점_전주점     3500 non-null   uint8
 70  주구매지점_창원점     3500 non-null   uint8
 71  주구매지점_청량리점    3500 non-null   uint8
 72  주구매지점_포항점     3500 non-null   uint8
dtypes: float64(3), int64(4), uint8(66)
memory usage: 604.3 KB

In [104]:
test_dum=test_dum[x_dum.columns]

In [95]:
# test_dum.info()

In [105]:
from sklearn.preprocessing import StandardScaler

In [106]:
scaler=StandardScaler()

In [107]:
scaler.fit(x_dum)

StandardScaler()

In [108]:
x_dum=scaler.transform(x_dum)
test_dum=scaler.transform(test_dum)

In [109]:
X_train, X_test, y_train, y_test = train_test_split(x_dum, y, test_size=0.3, random_state=60,stratify=y)

In [114]:
y_train

2436    1
3366    0
179     1
1987    1
367     1
       ..
786     0
752     0
1861    0
271     0
871     0
Name: gender, Length: 2450, dtype: int64

In [110]:
from sklearn.ensemble import RandomForestClassifier

In [115]:
rnf=RandomForestClassifier(max_depth=3,random_state=0)
rnf.fit(X_train,y_train)

RandomForestClassifier(max_depth=3, random_state=0)

In [117]:
from sklearn.metrics import classification_report

y_pred = rnf.predict(X_test)
report =classification_report(y_test, y_pred, target_names=['class 0', 'class 1'])
print(report)

              precision    recall  f1-score   support

     class 0       0.63      0.97      0.77       655
     class 1       0.60      0.07      0.13       395

    accuracy                           0.63      1050
   macro avg       0.62      0.52      0.45      1050
weighted avg       0.62      0.63      0.53      1050